HX711PY_PATH=/opt/hx711py
HX711_DOUT_PIN=5
HX711_PD_SCK_PIN=6
HX711_REFERENCE_UNIT=114
HX711_BYTE_ORDER=MSB
HX711_BIT_ORDER=MSB
HX711_SERVICE_HOST=127.0.0.1
HX711_SERVICE_PORT=5001
HX711_SAMPLE_INTERVAL_SECONDS=0.1
HX711_STABILITY_WINDOW=8
HX711_MIN_STABLE_SAMPLES=6
HX711_STABILITY_TOLERANCE_KG=0.010
HX711_ZERO_DEADBAND_KG=0.005
